@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
